@page
@model CatalogOfWehicle.Pages.Wehicles.IndexModel 

@{
    ViewData["Title"] = "Index";
}

<h1>Каталог авто</h1>

<p>
    <a asp-page="Create">Добавить запись</a>
</p>
<form>
    <p>
        Цвет:<select asp-for="WehicleMark" asp-items="Model.ColorChoice">
            <option value="">Все</option>
        </select>
        Введите марку: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Фильтр" />
        Количество записей: <input type="text" asp-for="NumOfWehicle" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wehicle[0].RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wehicle[0].ModelWehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wehicle[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wehicle[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wehicle[0].KilometrAge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Wehicle)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelWehicle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KilometrAge)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Редактировать</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
